{:paths ["src" "resources"]
 :deps {hiccup/hiccup {:mvn/version "1.0.5"}
        org.clojure/clojurescript {:mvn/version "1.10.758"}
        org.clojure/data.json {:mvn/version "2.0.2"}
        ring/ring {:mvn/version "1.9.2"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]}}}
