{:paths ["src" "resources"]
 :deps {hiccup/hiccup {:mvn/version "1.0.5"}
        org.clojure/data.json {:mvn/version "2.0.2"}
        ring/ring {:mvn/version "1.9.2"}
        metosin/reitit {:mvn/version "0.5.12"}
        ;; cljs
        org.clojure/clojurescript {:mvn/version "1.10.758"}
        reagent/reagent {:mvn/version "1.0.0"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {thheller/shadow-cljs {:mvn/version "2.11.18"}}}}}
